@model IEnumerable<drunkShop.Models.Product>
<link rel="stylesheet" href="~/css/showDB.css" asp-append-version="true" />

    <div class="cont">
        <div class="zagolovok">
            <h2>Список напитков</h2>
        </div>
        <div class="forBtnCreate">
            <a asp-action="Upsert" class="btnAddDB">+ Создать напиток</a>
        </div>

        @if (Model.Count() > 0)
        {
            <table class="tableDB">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Цена</th>
                        <th>Категория (ID)</th>
                        <th>Тип (ID)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model)
                    {
                        <tr>
                            <td>@obj.Naming</td>
                            <td>@obj.Price</td>
                            <td>@obj.Category.Naming</td>
                            <td>@obj.ApplicationType.Naming</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a asp-route-Id="@obj.Id" asp-action="Upsert" class="btnEdit">
                                        <img src="~/Images/edit.png" alt="">
                                    </a>
                                    <a asp-route-Id="@obj.Id" asp-action="Delete" class="btnDelete">
                                        <img src="~/Images/delete.png" alt="">
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>
                Пока не создано ни одного напитка
            </p>
        }

    </div>