@model drunkShop.Models.ViewModels.DetailsVM
<link rel="stylesheet" href="~/css/details.css" asp-append-version="true" />

<div class="kvadrats">
    <form method="post">
        <input asp-for="@Model.Product.Id" hidden />
        <h2>@Model.Product.Naming</h2>
        @*<img class="del" src="/img/image-7.png" alt="">*@
        <div class="ob">
            <div class="im">
                <img src="@WC.ImagePath@Model.Product.Image" class="photo a" />
            </div>
            <div class="inf">
                <div class="descr">@Html.Raw(Model.Product.Description)</div>
                <div class="about">
                    <div class="category">
                        <h4><p class="needGap">Категория:</p>@Model.Product.Category.Naming</h4>
                        <h4><p class="needGap">Тип:</p>@Model.Product.ApplicationType.Naming</h4>
                    </div>
                    <div class="price">
                        <h4>@Model.Product.Price<p>р</p></h4>
                        <h4>@Model.Product.Volume<p>мл</p></h4>
                    </div>
                </div>
            </div>
        </div>
        @if (User.IsInRole(WC.AdminRole))
        {
            <button asp-controller="Product" asp-action="Index" asp-route-id="@Model.Product.Id" class="btn">Редактировать</button>
        }
        else
        {
            @if (Model.ExistsInCard)
            {
                <button asp-action="RemoveFromCard" asp-route-id="@Model.Product.Id" class="btnDel">Удалить из корзины</button>
            }
            else
            {
                <button type="submit" asp-route-id="@Model.Product.Id" class="btn">Добавить</button>
            }
        }
    </form>
</div>





    @*<div class="">
            <form method="post">
                <input asp-for="@Model.Product.Id" hidden />
                <h2>@Model.Product.Naming</h2>
                <img src="@WC.ImagePath@Model.Product.Image" width="100%" class="rounded" />
                <div class="ob">
                    <h1 class="">@Model.Product.Price</h1>
                    <div class="card-body">
                        <div class="container rounded p-2">
                            <div class="row">
                                <div class="col-12 col-lg-8">
                                    <div class="row pl-3">

                                        <div class="col-12">
                                            <span class="options-type">@Model.Product.Category.Naming</span>
                                            <span class="options-type">@Model.Product.ApplicationType.Naming</span>
                                            <h3 class="text-success"></h3>

                                            <p class="text-secondary">@Html.Raw(Model.Product.Description)</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-dark">
                        <div class="row">
                            <div class="col-12 col-md-6 pb-1 ">
                                <a asp-action="Index" class="btn btn-danger">Вернуться</a>
                            </div>
                            <div class="col-12 col-md-6 ">
                                @if (Model.ExistsInCard)
                                {
                                    <a asp-action="RemoveFromCard" asp-route-id="@Model.Product.Id" class="btn btn-danger">Удалить из корзины</a>
                                }
                                else
                                {
                                    <button type="submit" asp-route-id="@Model.Product.Id" class="bg:white">Добавить</button>
                                }
                            </div>
                </div>
            </form>
        </div>*@
